ENVIRONMENT=development
APP_NAME=Hotel Restaurant API
API_V1_PREFIX=/api
DATABASE_URL=postgresql://sonaee:DCMo97TK4aEQfyW5NZ9djGDbgaZNCfxX@dpg-d917nfcvikkc739288i0-a.singapore-postgres.render.com/hotel_yehr
SECRET_KEY=hotel-sonaee-secret-key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
BACKEND_CORS_ORIGINS=http://localhost:3000
ENABLE_DOCS=true
AUTO_CREATE_TABLES=true
DB_ECHO=false
FIREBASE_SERVICE_ACCOUNT_KEY_PATH=
FIREBASE_SERVICE_ACCOUNT_KEY_JSON=
